<manifest
        xmlns:dist="http://schemas.android.com/apk/distribution"
        package="com.github.mag0716.multiplemodulesample.detail">
    <dist:module
            dist:onDemand="false"
            dist:instant="false"
            dist:title="@string/title_detail">
        <dist:fusing dist:include="true"/>
    </dist:module>
</manifest>

